<h1> New Post in <%= "#{@market.name}" %>

  <%= render "form.html", changeset: @changeset, action: market_post_path(@conn, :create, @market.name) %>

  <%= link "Back", to: market_path(@conn, :show, @market) %>
