<h2>Show market</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @market.name %>
  </li>

  <li>
    <strong>Date created:</strong>
    <%= @market.date_created %>
  </li>

 <%= for post <- @posts do %>
    <tr>
      <td><%= link make_title(post), to: post_path(@conn, :show, post) %></td>
      <td><%= post.date_created %></td>
    </tr>
 <% end %>
</ul>

